@media only screen and (max-width: 680px) {
    .mini-search-trigger,
    .mini-menu-trigger {
        position: absolute;
        top: 65px;
        right: 10px;
        background-image: url(Images/mini-menu/menu-open-mobile.png);
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .mini-search-trigger {
        right: 70px;
        background-image: url(Images/mini-menu/search-open-mobile.png);
    }

        .mini-search-trigger.triggered,
        .mini-menu-trigger.triggered {
            background-image: url(Images/mini-menu/menu-close-mobile.png);
        }

    #mini-menu-container {
        background-color: #38598a;
    }

        #mini-menu-container .mini-menu-search {
            padding: 10px;
        }

        #mini-menu-container .search {
            margin-top: 0;
            padding: 10px;
            position: relative;
            background-color: #38598a;
        }

            #mini-menu-container .search .search-trigger {
                cursor: pointer;
                height: 35px;
                position: absolute;
                right: 13px;
                top: 10px;
                width: 35px;
            }

            #mini-menu-container .search input {
                height: 35px;
                font-size: 15px;
                line-height: 1em;
                font-style: italic;
                background-image: url(Images/search-ico-lg.png);
                background-repeat: no-repeat;
                background-position: right 5px center;
                width: 100%;
                border: none;
                padding: 5px 10px 0;
            }

    #mini-menu {
        background-color: #036;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

        #mini-menu .site-menu ul {
            margin-left: 0;
            margin-bottom: 0;
            padding-left: 0;
            list-style-type: none;
        }

            #mini-menu .site-menu ul li {
                background-color: #5475a7;
                border-bottom: 1px solid #7590b9;
                clear: right;
                position: relative;
            }

#mini-menu .site-menu ul li:last-child {
    border-bottom: none;
}


            #mini-menu .site-menu ul li.first-link {
                background-color: #38598a;
                border-bottom: 1px solid #7590b9;
            }

        #mini-menu .site-menu ul li ul {
            border-top: 1px solid #7590b9;
        }

                #mini-menu .site-menu ul li .level-trigger {
                    background-image: url(Images/mini-menu/menu-arrow-dn.png);
                    background-repeat: no-repeat;
                    background-position: center center;
                    display: inline-block;
                    float: right;
                    height: 42px;
                    width: 50px;
                    border-left: 1px solid #7590b9;
                    border-bottom: 1px solid #7590b9;
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                }

                #mini-menu .site-menu ul li .no-trigger {
                    display: inline-block;
                    float: right;
                    height: 100%;
                    width: 50px;
                    border-left: 1px solid #7590b9;
                    border-bottom: none;
                    position: absolute;
                    right: 0;
                }
                #mini-menu .site-menu ul li.first-link .no-trigger {
                    border-left: 0;
                }

                #mini-menu .site-menu ul li .level-trigger.open {
                    background-image: url(Images/mini-menu/menu-arrow-up.png);
                }

                #mini-menu .site-menu ul li a {
                    display: inline-block;
                    color: #fff;
                    font-size: 17px;
                    text-decoration: none;
                    padding: 8px 20px 7px;
                    width: 82%;
                }

            #mini-menu .site-menu ul ul.no-triggers li a {
                border-right: 0;
            }

            #mini-menu .site-menu ul li a:hover, #mini-menu .site-menu ul li a:active {
                text-decoration: underline;
            }

            #mini-menu .site-menu ul li ul,
            #mini-menu .site-menu ul li ul li ul {
                display: none;
            }

                #mini-menu .site-menu ul li ul li a {
                    padding-left: 60px;
                }

    #mini-menu-container {
        background-color: #036;
    }
}