<div id="main-content" class="template content">
  <div class="search">
    <div class="search-body">
      <h3>Search</h3>
    </div>
    <div class="clear"></div>
    <div class="search-filters">
      <div class="search-filter">
        <h5 class="open">Date</h5>
        <div class="search-filter-content" style="display:block">
          <ul>
            <li><b>March 12, 2011 to Present</b></li>
          </ul>
        </div>
      </div>

      <div class="search-filter">
        <h5 class="">Content</h5>
        <div class="search-filter-content" style="">
          <ul>
            <li>All News</li>
          </ul>
        </div>
      </div>

      <div class="search-filter">
        <h5 class="">Ministry</h5>
        <div class="search-filter-content" style="">
          <ul>
            <li>All Ministries</li>
          </ul>
        </div>
      </div>

      <div class="search-filter">
        <h5 class="">Sector</h5>
        <div class="search-filter-content" style="">
          <ul>
            <li>All Sectors</li>
          </ul>
        </div>
      </div>

      <div style="margin-top: 10px">
        <a href="/search" class="link-button">RESET SEARCH</a>
      </div>
    </div>

    <div class="home-body search-results">

      <div class="search-panel">
        <form action="/Search" method="get">
          <label>You searched for</label>
          <div class="search-panel-bar">
            <input name="q" type="text" placeholder="Search archive.news.gov.bc.ca">
            <input name="ministry" type="hidden">
            <input name="sector" type="hidden">
            <input name="content" type="hidden">
            <input name="date" type="hidden">
            <div class="search-trigger"> </div>
          </div>
        </form>
      </div>

      <div class="search-numbers">
        Showing results 1 - 10 of 14780
      </div>

      <div class="article">
        <h2><a href="https://news.gov.bc.ca/releases/2018FIN0005-000238">Budget 2018 puts people first, makes life more affordable for British Columbians</a></h2>
        <div class="item-date">Tuesday, February 20, 2018 1:40 PM</div>
        <div class="item-content">
          <div class="asset flickr"><a href="https://news.gov.bc.ca/releases/2018FIN0005-000238"><img src="https://media.news.gov.bc.ca/proxy?url=https%3A%2F%2Ffarm5.staticflickr.com%2F4723%2F40386017971_5d21929837_b.jpg&amp;token=uor6buQ%2B2DXvQhcAzl7Mi78eVn8Uvr1eVSSio9K1YoU%3D"></a></div>
          <div class="item-text with-image">
            <p>Budget 2018 carves a new path to shared prosperity for everyone in the province with a made-in-B.C. child-care plan, a comprehensive housing plan and record levels of capital investment in every corner of the province, Finance Minister Carole James announced today.</p>
            <a href="https://news.gov.bc.ca/releases/2018FIN0005-000238" class="read-more">Read More</a>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="article">
        <h2><a href="https://news.gov.bc.ca/factsheets/bc-stats-report-profile-of-the-british-columbia-technology-sector-2017-edition-1">BC Stats report: Profile of the British Columbia technology sector, 2017 edition</a></h2>
        <div class="item-date">Monday, February 19, 2018 5:40 PM</div>
        <div class="item-content">
          <div class="item-text">
            <p>The most recent BC Stats report (2016 data) shows jobs and wages in British Columbia’s technology sector have reached a new peak as B.C.’s tech and innovation industry continues to thrive.</p>
            <a href="https://news.gov.bc.ca/factsheets/bc-stats-report-profile-of-the-british-columbia-technology-sector-2017-edition-1" class="read-more">Read More</a>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="article">
        <h2><a href="https://news.gov.bc.ca/factsheets/supporting-bc-innovation-1">Supporting B.C. innovation</a></h2>
        <div class="item-date">Monday, February 19, 2018 5:43 PM</div>
        <div class="item-content">
          <div class="item-text">
            <p>The British Columbia government has committed nearly $1.3 billion for research and innovation in B.C. over the last 10 years through various ministries, programs and investments.</p>
            <a href="https://news.gov.bc.ca/factsheets/supporting-bc-innovation-1" class="read-more">Read More</a>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="article">
        <h2><a href="https://news.gov.bc.ca/releases/2018AEST0040-000217">Find Your Fit tour reaches Lake Cowichan to inspire future career choices</a></h2>
        <div class="item-date">Monday, February 19, 2018 7:35 AM</div>
        <div class="item-content">
          <div class="item-text">
            <p>The Find Your Fit tour stop in Lake Cowichan is a great opportunity for students to get valuable hands-on experience with helpful career-planning tools.</p>
            <a href="https://news.gov.bc.ca/releases/2018AEST0040-000217" class="read-more">Read More</a>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="article">
        <h2><a href="https://news.gov.bc.ca/releases/2018JTT0008-000236">Province takes further action to protect B.C. wine industry</a></h2>
        <div class="item-date">Monday, February 19, 2018 10:12 AM</div>
        <div class="item-content">
          <div class="asset flickr"><a href="https://news.gov.bc.ca/releases/2018JTT0008-000236"><img src="https://media.news.gov.bc.ca/proxy?url=https%3A%2F%2Ffarm8.staticflickr.com%2F7520%2F15363008714_979a64dabc_b.jpg&amp;token=1pF2ca5lvCdMZF2DclzgIxUeERAi7vhJijCPaHwxtYI%3D"></a></div>
          <div class="item-text with-image">
            <p>In a move aimed at protecting and supporting the province’s wine producers, Minister of Jobs, Trade and Technology Bruce Ralston has announced that the B.C. government is formally challenging Alberta’s ban on B.C. wines through the Canadian Free Trade Agreement’s (CFTA) dispute settlement process.</p>
            <a href="https://news.gov.bc.ca/releases/2018JTT0008-000236" class="read-more">Read More</a>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="article">
        <h2><a href="https://news.gov.bc.ca/releases/2018TRAN0023-000229">Public open houses on vision for Kootenay Lake ferry service</a></h2>
        <div class="item-date">Monday, February 19, 2018 8:00 AM</div>
        <div class="item-content">
          <div class="item-text">
            <p>Public consultation on proposed longer-term improvements to the Kootenay Lake ferry service is underway until March 30, 2018.</p>
            <a href="https://news.gov.bc.ca/releases/2018TRAN0023-000229" class="read-more">Read More</a>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="article">
        <h2><a href="https://news.gov.bc.ca/releases/2018FLNR0013-000228">Explore B.C.'s diverse cultures during Heritage Week</a></h2>
        <div class="item-date">Sunday, February 18, 2018 9:00 AM</div>
        <div class="item-content">
          <div class="item-text">
            <p>Government is proclaiming Feb. 19 to 25 as Heritage Week in B.C. to give British Columbians the opportunity to discover the past, and to acknowledge, explore and enjoy the province’s diverse and interwoven cultures.</p>
            <a href="https://news.gov.bc.ca/releases/2018FLNR0013-000228" class="read-more">Read More</a>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="article">
        <h2><a href="https://news.gov.bc.ca/releases/2018MAH0012-000230">New homes and withdrawal centre for people in Vancouver</a></h2>
        <div class="item-date">Saturday, February 17, 2018 9:00 AM</div>
        <div class="item-content">
          <div class="item-text">
            <p>The Province is working with the City of Vancouver and Vancouver Coastal Health to build approximately 100 affordable rental homes, as well as a new withdrawal management centre for people seeking treatment for addictions.</p>
            <a href="https://news.gov.bc.ca/releases/2018MAH0012-000230" class="read-more">Read More</a>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="article">
        <h2><a href="https://news.gov.bc.ca/releases/2018ENV0007-000232">B.C. government seeks leave to appeal National Energy Board ruling</a></h2>
        <div class="item-date">Saturday, February 17, 2018 11:00 AM</div>
        <div class="item-content">
          <div class="item-text">
            <p>The provincial government has applied for leave to appeal a Dec. 7, 2017, ruling by the National Energy Board (NEB), allowing Kinder Morgan to bypass specific City of Burnaby bylaws related to construction work at the Burnaby Terminal and the Westridge Marine Terminal.</p>
            <a href="https://news.gov.bc.ca/releases/2018ENV0007-000232" class="read-more">Read More</a>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="article">
        <h2><a href="https://news.gov.bc.ca/releases/2018AGRI0012-000222">Boost to B.C. tree fruit, funding supports new growers and sector competitiveness</a></h2>
        <div class="item-date">Friday, February 16, 2018 1:30 PM</div>
        <div class="item-content">
          <div class="item-text">
            <p>Apple, cherry and other tree fruit growers throughout the province will be able to update aging equipment and infrastructure while increasing their marketing and research efforts thanks to a new $5-million Tree Fruit Competitiveness Fund announced today at the B.C. Fruit Growers’ Association annual general meeting.</p>
            <a href="https://news.gov.bc.ca/releases/2018AGRI0012-000222" class="read-more">Read More</a>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div class="search-pagination bottom">
      <ul>


        <li><b>1</b></li>
        <li><a href="?first=11">2</a></li>
        <li><a href="?first=21">3</a></li>
        <li><a href="?first=31">4</a></li>
        <li><a href="?first=41">5</a></li>

        <li><a href="?first=11">next »</a></li>

      </ul>
    </div>

    <div class="clear"></div>
  </div>


  <div class="clear"></div>
</div>


<div class="row">
  <div class="col-md-12">
    <div id="searchBlock">
      <a name="searchNews">
        <div id="searchHeader">
          <img src="/images/arrow_grey.gif"> Search Newswire
        </div>
      </a><div id="oldSearch">
        <a name="searchNews">
        </a><a href="/archive">
          Click here to search for news releases issued before July 18, 2017
        </a>
      </div>
      <div id="keyword">
        Enter Keyword:<br>
        <input name="ctl00$ContentPlaceHolder1$txtKeyword" type="text" id="ContentPlaceHolder1_txtKeyword" style="width:200px;"><br>

      </div>

      <div class="dateRange">
        Date Range: <a id="ContentPlaceHolder1_resetDates" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$resetDates','')">Reset Dates</a><br>

        <select name="ctl00$ContentPlaceHolder1$stMonth" id="ContentPlaceHolder1_stMonth">
          <option value="1">Jan</option>
          <option value="2">Feb</option>
          <option value="3">Mar</option>
          <option value="4">Apr</option>
          <option value="5">May</option>
          <option value="6">Jun</option>
          <option selected="selected" value="7">Jul</option>
          <option value="8">Aug</option>
          <option value="9">Sep</option>
          <option value="10">Oct</option>
          <option value="11">Nov</option>
          <option value="12">Dec</option>
        </select>
        <select name="ctl00$ContentPlaceHolder1$stDay" id="ContentPlaceHolder1_stDay">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option selected="selected" value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
        <select name="ctl00$ContentPlaceHolder1$stYear" id="ContentPlaceHolder1_stYear">
          <option selected="selected" value="2017">2017</option>
          <option value="2018">2018</option>

        </select>

        &nbsp; &nbsp;to&nbsp;

        <select name="ctl00$ContentPlaceHolder1$endMonth" id="ContentPlaceHolder1_endMonth">
          <option value="1">Jan</option>
          <option selected="selected" value="2">Feb</option>
          <option value="3">Mar</option>
          <option value="4">Apr</option>
          <option value="5">May</option>
          <option value="6">Jun</option>
          <option value="7">Jul</option>
          <option value="8">Aug</option>
          <option value="9">Sep</option>
          <option value="10">Oct</option>
          <option value="11">Nov</option>
          <option value="12">Dec</option>
        </select>
        <select name="ctl00$ContentPlaceHolder1$endDay" id="ContentPlaceHolder1_endDay">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option selected="selected" value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
        <select name="ctl00$ContentPlaceHolder1$endYear" id="ContentPlaceHolder1_endYear">
          <option value="2017">2017</option>
          <option selected="selected" value="2018">2018</option>

        </select>

      </div>
      <div id="ministryList">
        Search within:<br>
        <select size="10" name="ctl00$ContentPlaceHolder1$listOrganisation" id="ContentPlaceHolder1_listOrganisation">
          <option selected="selected" value="00000000-0000-0000-0000-000000000000">Government Wide</option>
          <option value="aae302f1-05e1-4df9-8df3-1e4dd557278d">Office of the Premier</option>
          <option value="ced11d24-65e0-4921-a01a-8eaf26e4a7f8">Intergovernmental Relations Secretariat</option>
          <option value="3f0e9034-6d42-410c-a908-f75203e4f1a8">Ministry of Advanced Education, Skills and Training</option>
          <option value="58fcb55a-7d99-4c65-96ed-8658de8496f6">Ministry of Agriculture</option>
          <option value="8396773a-b448-468d-8ddd-c54194098d6c">Ministry of Attorney General</option>
          <option value="e60dd5ca-54a0-4440-8ece-3fad919a0582">Ministry of Children and Family Development</option>
          <option value="f7a70569-2dd6-4251-9411-de892e62c8e1">Ministry of Citizens' Services</option>
          <option value="f0b2ec0e-1a3a-4bb4-ab34-c483dbf123ed">Ministry of Education</option>
          <option value="e4864b07-854f-4128-9613-90cade7c4adc">Ministry of Energy, Mines and Petroleum Resources</option>
          <option value="0577f442-191c-4948-966b-10dfcb94cf8f">Ministry of Environment and Climate Change Strategy</option>
          <option value="31d310db-468a-4fbe-bea6-0801be1f84e8">Ministry of Finance</option>
          <option value="b07b1b94-1d2d-4092-883a-c6a889d20ee8">Ministry of Forests, Lands, Natural Resource Operations and Rural Development</option>
          <option value="010aef62-d4f9-4722-9699-2651952db5f4">Ministry of Health</option>
          <option value="5fd0e5a8-47c2-4361-a33d-b14a7bd1e6c2">Ministry of Indigenous Relations and Reconciliation</option>
          <option value="88e50630-ebb8-416e-bc7b-23256cc33d4d">Ministry of Jobs, Trade and Technology</option>
          <option value="7c2e5dab-3d39-4e36-8d48-ca26b9131d60">Ministry of Labour</option>
          <option value="b85120f5-5980-4284-9543-ea53074da3f0">Ministry of Mental Health and Addictions</option>
          <option value="ba941135-33a6-4f35-885c-7a9a2e13d75e">Ministry of Municipal Affairs and Housing</option>
          <option value="b4eb7db1-0ded-4cb7-a892-82318c47754d">Ministry of Public Safety and Solicitor General</option>
          <option value="41f1d087-565b-45e3-a4d3-cca83868e04f">Ministry of Social Development and Poverty Reduction</option>
          <option value="45b49e1a-fc8f-46c5-8ef6-7021beb4bdc0">Ministry of Tourism, Arts and Culture</option>
          <option value="1bcc1ed0-86bf-49d5-b464-0cfba1b8a1d1">Ministry of Transportation and Infrastructure</option>
          <option value="9aa044c5-ddd6-4def-a29a-a908bc9acc69">Emergency Preparedness</option>
          <option value="31670d1e-ac29-49aa-b73e-3b64d09bd9eb">Minister of State for Child Care</option>
          <option value="c8d87903-d641-4265-bd05-0203bd47fdf1">Ministry of State for Trade</option>

        </select>
      </div>

      <div id="location">
        Location:
        <select name="ctl00$ContentPlaceHolder1$ddLocation" id="ContentPlaceHolder1_ddLocation">
          <option selected="selected" value="0">All Locations</option>
          <option value="100 MILE HOUSE">100 MILE HOUSE</option>
          <option value="150 MILE HOUSE">150 MILE HOUSE</option>
          <option value="70 MILE HOUSE">70 MILE HOUSE</option>
          <option value="ABBOTSFORD">ABBOTSFORD</option>
          <option value="AGASSIZ">AGASSIZ</option>
          <option value="AGASSIZ-HARRISON">AGASSIZ-HARRISON</option>
          <option value="ALDERGROVE">ALDERGROVE</option>
          <option value="ALERT BAY">ALERT BAY</option>
          <option value="ALEXIS CREEK">ALEXIS CREEK</option>
          <option value="ANAHEIM">ANAHEIM</option>
          <option value="ANCHORAGE, ALASKA">ANCHORAGE, ALASKA</option>
          <option value="ANMORE">ANMORE</option>
          <option value="ARMSTRONG">ARMSTRONG</option>
          <option value="ASHCROFT">ASHCROFT</option>
          <option value="ATLIN">ATLIN</option>
          <option value="B.C. INTERIOR">B.C. INTERIOR</option>
          <option value="BALDONNEL">BALDONNEL</option>
          <option value="BALFOUR">BALFOUR</option>
          <option value="BAMFIELD">BAMFIELD</option>
          <option value="BANGALORE, INDIA">BANGALORE, INDIA</option>
          <option value="BARKERVILLE">BARKERVILLE</option>
          <option value="BARRIERE">BARRIERE</option>
          <option value="BAYNES LAKE">BAYNES LAKE</option>
          <option value="BEIJING">BEIJING</option>
          <option value="BEIJING, CHINA">BEIJING, CHINA</option>
          <option value="BELLA BELLA">BELLA BELLA</option>
          <option value="BELLA COOLA">BELLA COOLA</option>
          <option value="BIG SKY, MONTANA">BIG SKY, MONTANA</option>
          <option value="BLAINE, WA">BLAINE, WA</option>
          <option value="BOSTON BAR">BOSTON BAR</option>
          <option value="BOSTON, MASSACHUSETTS">BOSTON, MASSACHUSETTS</option>
          <option value="BOWEN ISLAND">BOWEN ISLAND</option>
          <option value="BRENTWOOD BAY">BRENTWOOD BAY</option>
          <option value="BRITANNIA CREEK">BRITANNIA CREEK</option>
          <option value="BULKLEY VALLEY">BULKLEY VALLEY</option>
          <option value="BURNABY">BURNABY</option>
          <option value="BURNS LAKE">BURNS LAKE</option>
          <option value="BUSAN, SOUTH KOREA">BUSAN, SOUTH KOREA</option>
          <option value="CACHE CREEK">CACHE CREEK</option>
          <option value="CALGARY">CALGARY</option>
          <option value="CAMPBELL RIVER">CAMPBELL RIVER</option>
          <option value="CAMROSE, ALBERTA">CAMROSE, ALBERTA</option>
          <option value="CANAL FLATS">CANAL FLATS</option>
          <option value="CANIM LAKE">CANIM LAKE</option>
          <option value="CARIBOO CHILCOTIN">CARIBOO CHILCOTIN</option>
          <option value="CASTLEGAR">CASTLEGAR</option>
          <option value="CAWSTON">CAWSTON</option>
          <option value="CENTRAL KOOTENAY">CENTRAL KOOTENAY</option>
          <option value="CENTRAL OKANAGAN">CENTRAL OKANAGAN</option>
          <option value="CENTRAL SAANICH">CENTRAL SAANICH</option>
          <option value="CHANDIGARH, INDIA">CHANDIGARH, INDIA</option>
          <option value="CHANDRIGARH, INDIA">CHANDRIGARH, INDIA</option>
          <option value="CHANGZHOU, CHINA">CHANGZHOU, CHINA</option>
          <option value="CHARLOTTETOWN, PEI">CHARLOTTETOWN, PEI</option>
          <option value="CHASE">CHASE</option>
          <option value="CHEMAINUS">CHEMAINUS</option>
          <option value="CHENGDU, SICHUAN, CHINA">CHENGDU, SICHUAN, CHINA</option>
          <option value="CHESLATTA LAKE">CHESLATTA LAKE</option>
          <option value="CHETWYND">CHETWYND</option>
          <option value="CHILLIWACK">CHILLIWACK</option>
          <option value="CHONGQING, CHINA">CHONGQING, CHINA</option>
          <option value="CLEARWATER">CLEARWATER</option>
          <option value="CLINTON">CLINTON</option>
          <option value="CLOVERDALE">CLOVERDALE</option>
          <option value="COAST SALISH TERRITORY - VANCOUVER, B.C.">COAST SALISH TERRITORY - VANCOUVER, B.C.</option>
          <option value="COAST SALISH TERRITORY – VICTORIA">COAST SALISH TERRITORY – VICTORIA</option>
          <option value="COBBLE HILL">COBBLE HILL</option>
          <option value="COLDSTREAM">COLDSTREAM</option>
          <option value="COLWOOD">COLWOOD</option>
          <option value="COMOX">COMOX</option>
          <option value="COMOX VALLEY">COMOX VALLEY</option>
          <option value="COOMBS">COOMBS</option>
          <option value="COPENHAGEN">COPENHAGEN</option>
          <option value="COQUITLAM">COQUITLAM</option>
          <option value="CORTES ISLAND">CORTES ISLAND</option>
          <option value="COURTENAY">COURTENAY</option>
          <option value="COURTENAY/CAMPBELL RIVER">COURTENAY/CAMPBELL RIVER</option>
          <option value="COWICHAN BAY">COWICHAN BAY</option>
          <option value="COWICHAN VALLEY">COWICHAN VALLEY</option>
          <option value="CRANBROOK">CRANBROOK</option>
          <option value="CRAWFORD BAY">CRAWFORD BAY</option>
          <option value="CRESCENT VALLEY">CRESCENT VALLEY</option>
          <option value="CRESTON">CRESTON</option>
          <option value="CUMBERLAND">CUMBERLAND</option>
          <option value="DALIAN, CHINA">DALIAN, CHINA</option>
          <option value="D'ARCY">D'ARCY</option>
          <option value="DAWSON CREEK">DAWSON CREEK</option>
          <option value="DEASE LAKE">DEASE LAKE</option>
          <option value="DEEP BAY">DEEP BAY</option>
          <option value="DELHI, INDIA">DELHI, INDIA</option>
          <option value="DELTA">DELTA</option>
          <option value="DOIG RIVER">DOIG RIVER</option>
          <option value="DUJIANGYAN, CHINA">DUJIANGYAN, CHINA</option>
          <option value="DUNCAN">DUNCAN</option>
          <option value="EDGEWOOD">EDGEWOOD</option>
          <option value="EDMONTON">EDMONTON</option>
          <option value="ELKFORD">ELKFORD</option>
          <option value="ELKO">ELKO</option>
          <option value="ENDERBY">ENDERBY</option>
          <option value="ERRINGTON">ERRINGTON</option>
          <option value="ESQUIMALT">ESQUIMALT</option>
          <option value="FAIRMONT HOT SPRINGS">FAIRMONT HOT SPRINGS</option>
          <option value="FAUQUIER">FAUQUIER</option>
          <option value="FERNIE">FERNIE</option>
          <option value="FLATROCK">FLATROCK</option>
          <option value="FOREST GROVE">FOREST GROVE</option>
          <option value="FORT FRASER">FORT FRASER</option>
          <option value="FORT LANGLEY">FORT LANGLEY</option>
          <option value="FORT NELSON">FORT NELSON</option>
          <option value="FORT NELSON / FORT ST. JOHN">FORT NELSON / FORT ST. JOHN</option>
          <option value="FORT RUPERT">FORT RUPERT</option>
          <option value="FORT ST. JAMES">FORT ST. JAMES</option>
          <option value="FORT ST. JOHN">FORT ST. JOHN</option>
          <option value="FORT STEELE">FORT STEELE</option>
          <option value="FRASER LAKE">FRASER LAKE</option>
          <option value="GABRIOLA">GABRIOLA</option>
          <option value="GANGES">GANGES</option>
          <option value="GIBSONS">GIBSONS</option>
          <option value="GINGOLX VILLAGE">GINGOLX VILLAGE</option>
          <option value="GISCOME">GISCOME</option>
          <option value="GITANYOW">GITANYOW</option>
          <option value="GITLAXT’AAMIKS">GITLAXT’AAMIKS</option>
          <option value="GITLAXT'AAMIKS">GITLAXT'AAMIKS</option>
          <option value="GOLD BRIDGE">GOLD BRIDGE</option>
          <option value="GOLD RIVER">GOLD RIVER</option>
          <option value="GOLDEN">GOLDEN</option>
          <option value="GOOD HOPE LAKE">GOOD HOPE LAKE</option>
          <option value="GRAHAM ISLAND, HAIDA GWAII">GRAHAM ISLAND, HAIDA GWAII</option>
          <option value="GRAND FORKS">GRAND FORKS</option>
          <option value="GRANISLE">GRANISLE</option>
          <option value="GREENWOOD">GREENWOOD</option>
          <option value="GUANGDONG, CHINA">GUANGDONG, CHINA</option>
          <option value="GUANGZHOU">GUANGZHOU</option>
          <option value="GUANGZHOU, CHINA">GUANGZHOU, CHINA</option>
          <option value="HAGENSBORG">HAGENSBORG</option>
          <option value="HAIDA GWAII">HAIDA GWAII</option>
          <option value="HAIG">HAIG</option>
          <option value="HALIFAX">HALIFAX</option>
          <option value="HANGZHOU, CHINA">HANGZHOU, CHINA</option>
          <option value="HARRISON HOT SPRINGS">HARRISON HOT SPRINGS</option>
          <option value="HAZELTON">HAZELTON</option>
          <option value="HEBEI, CHINA">HEBEI, CHINA</option>
          <option value="HEMLOCK VALLEY">HEMLOCK VALLEY</option>
          <option value="HO CHI MINH CITY, VIETNAM">HO CHI MINH CITY, VIETNAM</option>
          <option value="HONG KONG">HONG KONG</option>
          <option value="HONG KONG SAR, CHINA">HONG KONG SAR, CHINA</option>
          <option value="HONG KONG, CHINA">HONG KONG, CHINA</option>
          <option value="HOPE">HOPE</option>
          <option value="HORNBY ISLAND">HORNBY ISLAND</option>
          <option value="HORSESHOE BAY">HORSESHOE BAY</option>
          <option value="HOUSTON">HOUSTON</option>
          <option value="HOUSTON AND BURNS LAKE">HOUSTON AND BURNS LAKE</option>
          <option value="HUDSON’S HOPE">HUDSON’S HOPE</option>
          <option value="HUDSON'S HOPE">HUDSON'S HOPE</option>
          <option value="INTERLAKES">INTERLAKES</option>
          <option value="INVERMERE">INVERMERE</option>
          <option value="ISKUT">ISKUT</option>
          <option value="IWAKI CITY, JAPAN">IWAKI CITY, JAPAN</option>
          <option value="JAFFRAY">JAFFRAY</option>
          <option value="JAKARTA, INDONESIA">JAKARTA, INDONESIA</option>
          <option value="JAPAN">JAPAN</option>
          <option value="JESMOND">JESMOND</option>
          <option value="JOHOR BAHRU, MALAYSIA">JOHOR BAHRU, MALAYSIA</option>
          <option value="KALEDEN">KALEDEN</option>
          <option value="KAMLOOPS">KAMLOOPS</option>
          <option value="KANANASKIS">KANANASKIS</option>
          <option value="KASLO">KASLO</option>
          <option value="KELOWNA">KELOWNA</option>
          <option value="KEREMEOS">KEREMEOS</option>
          <option value="KICKING HORSE">KICKING HORSE</option>
          <option value="KIMBERLEY">KIMBERLEY</option>
          <option value="KINCOLITH">KINCOLITH</option>
          <option value="KITIMAT">KITIMAT</option>
          <option value="KITWANGA">KITWANGA</option>
          <option value="KLEMTU">KLEMTU</option>
          <option value="KNUTSFORD">KNUTSFORD</option>
          <option value="KOOTENAY BOUNDARY">KOOTENAY BOUNDARY</option>
          <option value="KUALA LUMPUR, MALAYSIA">KUALA LUMPUR, MALAYSIA</option>
          <option value="KYUQUOT VILLAGE">KYUQUOT VILLAGE</option>
          <option value="LAC LA HACHE">LAC LA HACHE</option>
          <option value="LAC LE JEUNE">LAC LE JEUNE</option>
          <option value="LADYSMITH">LADYSMITH</option>
          <option value="LAKE BABINE">LAKE BABINE</option>
          <option value="LAKE COUNTRY">LAKE COUNTRY</option>
          <option value="LAKE COWICHAN">LAKE COWICHAN</option>
          <option value="LANGFANG, CHINA">LANGFANG, CHINA</option>
          <option value="LANGFORD">LANGFORD</option>
          <option value="LANGLEY">LANGLEY</option>
          <option value="LAX KW’ALAAMS">LAX KW’ALAAMS</option>
          <option value="LIKELY">LIKELY</option>
          <option value="LILLOOET">LILLOOET</option>
          <option value="LIMA, PERU">LIMA, PERU</option>
          <option value="LIONS BAY">LIONS BAY</option>
          <option value="LITTLE SHUSWAP LAKE">LITTLE SHUSWAP LAKE</option>
          <option value="LOGAN LAKE">LOGAN LAKE</option>
          <option value="LONDON">LONDON</option>
          <option value="LONDON, ENGLAND">LONDON, ENGLAND</option>
          <option value="LOS ANGELES">LOS ANGELES</option>
          <option value="LOUIS CREEK">LOUIS CREEK</option>
          <option value="LOWER MAINLAND">LOWER MAINLAND</option>
          <option value="LUMBY">LUMBY</option>
          <option value="LYNNWOOD, WASHINGTON">LYNNWOOD, WASHINGTON</option>
          <option value="LYTTON">LYTTON</option>
          <option value="MACKENZIE">MACKENZIE</option>
          <option value="MALAKWA">MALAKWA</option>
          <option value="MANILA, PHILIPPINES">MANILA, PHILIPPINES</option>
          <option value="MAPLE RIDGE">MAPLE RIDGE</option>
          <option value="MARRAKECH, MOROCCO">MARRAKECH, MOROCCO</option>
          <option value="MASSET">MASSET</option>
          <option value="MCBRIDE">MCBRIDE</option>
          <option value="MCLEOD LAKE">MCLEOD LAKE</option>
          <option value="MEARES ISLAND">MEARES ISLAND</option>
          <option value="MERRITT">MERRITT</option>
          <option value="METCHOSIN">METCHOSIN</option>
          <option value="MEZIADIN JUNCTION">MEZIADIN JUNCTION</option>
          <option value="MIANYANG, CHINA">MIANYANG, CHINA</option>
          <option value="MIDWAY">MIDWAY</option>
          <option value="MILL BAY">MILL BAY</option>
          <option value="MISSION">MISSION</option>
          <option value="MONTE LAKE">MONTE LAKE</option>
          <option value="MONTRÉAL">MONTRÉAL</option>
          <option value="MONTREAL, QC">MONTREAL, QC</option>
          <option value="MORICETOWN">MORICETOWN</option>
          <option value="MOUNT CURRIE">MOUNT CURRIE</option>
          <option value="MOUNT ROBSON">MOUNT ROBSON</option>
          <option value="MUMBAI, INDIA">MUMBAI, INDIA</option>
          <option value="NAKSUP">NAKSUP</option>
          <option value="NAKUSP">NAKUSP</option>
          <option value="NANAIMO">NANAIMO</option>
          <option value="NANJING">NANJING</option>
          <option value="NANJING, CHINA">NANJING, CHINA</option>
          <option value="NARAMATA">NARAMATA</option>
          <option value="NATORI, MIYAGI PREFECTURE">NATORI, MIYAGI PREFECTURE</option>
          <option value="NELSON">NELSON</option>
          <option value="NEMIAH VALLEY">NEMIAH VALLEY</option>
          <option value="NEW AIYANSH">NEW AIYANSH</option>
          <option value="NEW DELHI, INDIA">NEW DELHI, INDIA</option>
          <option value="NEW DENVER">NEW DENVER</option>
          <option value="NEW HAZELTON">NEW HAZELTON</option>
          <option value="NEW WESTMINSTER">NEW WESTMINSTER</option>
          <option value="NEW YORK">NEW YORK</option>
          <option value="NIAGARA-ON-THE-LAKE, ONT">NIAGARA-ON-THE-LAKE, ONT</option>
          <option value="NORTH COWICHAN">NORTH COWICHAN</option>
          <option value="NORTH SAANICH">NORTH SAANICH</option>
          <option value="NORTH VANCOUVER">NORTH VANCOUVER</option>
          <option value="NORTHERN B.C.">NORTHERN B.C.</option>
          <option value="NORTHERN BRITISH COLUMBIA">NORTHERN BRITISH COLUMBIA</option>
          <option value="OKANAGAN FALLS">OKANAGAN FALLS</option>
          <option value="OKANAGAN-SIMILKAMEEN">OKANAGAN-SIMILKAMEEN</option>
          <option value="OLD MASSETT">OLD MASSETT</option>
          <option value="OLIVER">OLIVER</option>
          <option value="OLYMPIA, WASHINGTON">OLYMPIA, WASHINGTON</option>
          <option value="OSAKA">OSAKA</option>
          <option value="OSOYOOS">OSOYOOS</option>
          <option value="OTTAWA">OTTAWA</option>
          <option value="OTTAWA, ONTARIO">OTTAWA, ONTARIO</option>
          <option value="PARIS, FRANCE">PARIS, FRANCE</option>
          <option value="PARKSVILLE">PARKSVILLE</option>
          <option value="PEACE ARCH">PEACE ARCH</option>
          <option value="PEACHLAND">PEACHLAND</option>
          <option value="PEMBERTON">PEMBERTON</option>
          <option value="PENDER HARBOUR">PENDER HARBOUR</option>
          <option value="PENTICTON">PENTICTON</option>
          <option value="PITT MEADOWS">PITT MEADOWS</option>
          <option value="PORT ALBERNI">PORT ALBERNI</option>
          <option value="PORT ALICE">PORT ALICE</option>
          <option value="PORT COQUITLAM">PORT COQUITLAM</option>
          <option value="PORT EDWARD">PORT EDWARD</option>
          <option value="PORT HARDY">PORT HARDY</option>
          <option value="PORT HARDY/FORT FRASER">PORT HARDY/FORT FRASER</option>
          <option value="PORT MCNEILL">PORT MCNEILL</option>
          <option value="PORT MOODY">PORT MOODY</option>
          <option value="PORT RENFREW">PORT RENFREW</option>
          <option value="POUCE COUPE">POUCE COUPE</option>
          <option value="POWELL RIVER">POWELL RIVER</option>
          <option value="PRINCE GEORGE">PRINCE GEORGE</option>
          <option value="PRINCE RUPERT">PRINCE RUPERT</option>
          <option value="PRINCETON">PRINCETON</option>
          <option value="PRITCHARD">PRITCHARD</option>
          <option value="QINGDAO, CHINA">QINGDAO, CHINA</option>
          <option value="QUALICUM">QUALICUM</option>
          <option value="QUALICUM BEACH">QUALICUM BEACH</option>
          <option value="QUEEN CHARLOTTE">QUEEN CHARLOTTE</option>
          <option value="QUEEN CHARLOTTE CITY">QUEEN CHARLOTTE CITY</option>
          <option value="QUEEN CHARLOTTE VILLAGE">QUEEN CHARLOTTE VILLAGE</option>
          <option value="QUEENS BAY">QUEENS BAY</option>
          <option value="QUESNEL">QUESNEL</option>
          <option value="QUESNEL AND AREA">QUESNEL AND AREA</option>
          <option value="QUESNEL AND WILLIAMS LAKE">QUESNEL AND WILLIAMS LAKE</option>
          <option value="RADIUM">RADIUM</option>
          <option value="RADIUM HOT SPRINGS">RADIUM HOT SPRINGS</option>
          <option value="REGINA">REGINA</option>
          <option value="REVELSTOKE">REVELSTOKE</option>
          <option value="RICHMOND">RICHMOND</option>
          <option value="RIVERS INLET">RIVERS INLET</option>
          <option value="ROBSON">ROBSON</option>
          <option value="ROCK CREEK">ROCK CREEK</option>
          <option value="ROSSLAND">ROSSLAND</option>
          <option value="RUSHMERE">RUSHMERE</option>
          <option value="SAANICH">SAANICH</option>
          <option value="SAANICH PENINSULA">SAANICH PENINSULA</option>
          <option value="SAANICHTON">SAANICHTON</option>
          <option value="SACRAMENTO, CA">SACRAMENTO, CA</option>
          <option value="SALEM, OREGON">SALEM, OREGON</option>
          <option value="SALMO">SALMO</option>
          <option value="SALMON ARM">SALMON ARM</option>
          <option value="SALT SPRING ISLAND">SALT SPRING ISLAND</option>
          <option value="SAN FRANCISCO">SAN FRANCISCO</option>
          <option value="SAN FRANCISCO, CA">SAN FRANCISCO, CA</option>
          <option value="SASKATOON">SASKATOON</option>
          <option value="SAVONA">SAVONA</option>
          <option value="SAYWARD">SAYWARD</option>
          <option value="SEABIRD ISLAND">SEABIRD ISLAND</option>
          <option value="SEATTLE">SEATTLE</option>
          <option value="SEATTLE, WA">SEATTLE, WA</option>
          <option value="SECHELT">SECHELT</option>
          <option value="SENDAI, JAPAN">SENDAI, JAPAN</option>
          <option value="SEOUL">SEOUL</option>
          <option value="SEOUL, KOREA">SEOUL, KOREA</option>
          <option value="SEOUL, SOUTH KOREA">SEOUL, SOUTH KOREA</option>
          <option value="SHANGHAI">SHANGHAI</option>
          <option value="SHANGHAI, CHINA">SHANGHAI, CHINA</option>
          <option value="SHAWNIGAN LAKE">SHAWNIGAN LAKE</option>
          <option value="SHERBROOKE">SHERBROOKE</option>
          <option value="SHUSWAP LAKE">SHUSWAP LAKE</option>
          <option value="SICAMOUS">SICAMOUS</option>
          <option value="SIDNEY">SIDNEY</option>
          <option value="SIMPCW">SIMPCW</option>
          <option value="SINGAPORE">SINGAPORE</option>
          <option value="SKIDEGATE">SKIDEGATE</option>
          <option value="SLIAMMON">SLIAMMON</option>
          <option value="SLOCAN">SLOCAN</option>
          <option value="SMITHERS">SMITHERS</option>
          <option value="SOOKE">SOOKE</option>
          <option value="SPALLUMCHEEN">SPALLUMCHEEN</option>
          <option value="SPARWOOD">SPARWOOD</option>
          <option value="SPENCES BRIDGE">SPENCES BRIDGE</option>
          <option value="SPENCE'S BRIDGE">SPENCE'S BRIDGE</option>
          <option value="SPUZZUM">SPUZZUM</option>
          <option value="SQUAMISH">SQUAMISH</option>
          <option value="ST. ANDREWS, NEW BRUNSWICK">ST. ANDREWS, NEW BRUNSWICK</option>
          <option value="ST. JOHN'S, NEWFOUNDLAND AND LABRADOR">ST. JOHN'S, NEWFOUNDLAND AND LABRADOR</option>
          <option value="ST. JOHN'S, NL">ST. JOHN'S, NL</option>
          <option value="STEWART">STEWART</option>
          <option value="STS’AILES">STS’AILES</option>
          <option value="SUMMERLAND">SUMMERLAND</option>
          <option value="SUN PEAKS">SUN PEAKS</option>
          <option value="SUNSHINE COAST">SUNSHINE COAST</option>
          <option value="SURREY">SURREY</option>
          <option value="TAHSIS">TAHSIS</option>
          <option value="TATLA LAKE">TATLA LAKE</option>
          <option value="TATLAYOKO LAKE">TATLAYOKO LAKE</option>
          <option value="TAYLOR">TAYLOR</option>
          <option value="TELKWA">TELKWA</option>
          <option value="TERRACE">TERRACE</option>
          <option value="THOMPSON OKANAGAN">THOMPSON OKANAGAN</option>
          <option value="TIANJIN, CHINA">TIANJIN, CHINA</option>
          <option value="TOFINO">TOFINO</option>
          <option value="TOKYO">TOKYO</option>
          <option value="TOKYO, JAPAN">TOKYO, JAPAN</option>
          <option value="TOMSLAKE">TOMSLAKE</option>
          <option value="TOQUAHT BAY">TOQUAHT BAY</option>
          <option value="TORONTO">TORONTO</option>
          <option value="TRAIL">TRAIL</option>
          <option value="TRI-CITIES">TRI-CITIES</option>
          <option value="TSAKIS (PORT HARDY)">TSAKIS (PORT HARDY)</option>
          <option value="TSAWWASSEN">TSAWWASSEN</option>
          <option value="TSILHQOT’IN TITLE LAND">TSILHQOT’IN TITLE LAND</option>
          <option value="TSILHQOT’IN TITLE LANDS">TSILHQOT’IN TITLE LANDS</option>
          <option value="TUMBLER RIDGE">TUMBLER RIDGE</option>
          <option value="UCLUELET">UCLUELET</option>
          <option value="VALEMOUNT">VALEMOUNT</option>
          <option value="VANCOUVER">VANCOUVER</option>
          <option value="VANCOUVER AND COAST SALISH TERRITORY">VANCOUVER AND COAST SALISH TERRITORY</option>
          <option value="VANCOUVER ISLAND">VANCOUVER ISLAND</option>
          <option value="VANCOUVER, BRITISH COLUMBIA, CANADA">VANCOUVER, BRITISH COLUMBIA, CANADA</option>
          <option value="VANCOUVER-COAST SALISH TERRITORY">VANCOUVER-COAST SALISH TERRITORY</option>
          <option value="VANDERHOOF">VANDERHOOF</option>
          <option value="VERNON">VERNON</option>
          <option value="VICTORIA">VICTORIA</option>
          <option value="VICTORIA/HAIDA GWAII">VICTORIA/HAIDA GWAII</option>
          <option value="VIETNAM">VIETNAM</option>
          <option value="VIEW ROYAL">VIEW ROYAL</option>
          <option value="VILLAGE OF QUEEN CHARLOTTE">VILLAGE OF QUEEN CHARLOTTE</option>
          <option value="WASHINGTON, D.C.">WASHINGTON, D.C.</option>
          <option value="WASHINGTON, DC">WASHINGTON, DC</option>
          <option value="WATERLOO, ONT.">WATERLOO, ONT.</option>
          <option value="WELLS">WELLS</option>
          <option value="WENCHUAN, CHINA">WENCHUAN, CHINA</option>
          <option value="WEST KELOWNA">WEST KELOWNA</option>
          <option value="WEST VANCOUVER">WEST VANCOUVER</option>
          <option value="WEST VANCOUVER SEA TO SKY">WEST VANCOUVER SEA TO SKY</option>
          <option value="WESTBANK">WESTBANK</option>
          <option value="WHISTLER">WHISTLER</option>
          <option value="WHITE ROCK">WHITE ROCK</option>
          <option value="WHITEHORSE">WHITEHORSE</option>
          <option value="WILLIAMS LAKE">WILLIAMS LAKE</option>
          <option value="WINDERMERE">WINDERMERE</option>
          <option value="WINFIELD">WINFIELD</option>
          <option value="WINNIPEG">WINNIPEG</option>
          <option value="XIAMEN, CHINA">XIAMEN, CHINA</option>
          <option value="YALE FIRST NATION">YALE FIRST NATION</option>
          <option value="YMIR">YMIR</option>
          <option value="ZEBALLOS">ZEBALLOS</option>
          <option value="ZHUHAI, CHINA">ZHUHAI, CHINA</option>

        </select>
      </div>

      <div id="themes">
        Sectors:
        <select name="ctl00$ContentPlaceHolder1$ddTopics" id="ContentPlaceHolder1_ddTopics">
          <option selected="selected" value="0">All Sectors</option>
          <option value="c2061dd2-bcd8-46c7-b4cf-9f59331d8455">Economy</option>
          <option value="752033de-8aaf-46a4-b92e-d7a9fd0e3fad">Government Operations</option>
          <option value="ced7a44d-bc9b-45e6-b624-fd9cf2c73904">Multiculturalism</option>
          <option value="7e9d8058-0942-4c43-bec8-fbae900717c7">Services</option>

        </select>
      </div>
      <div id="searchButton">
        <a id="ContentPlaceHolder1_btnReset" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$btnReset','')">Reset Form</a>&nbsp;
        <input type="image" name="ctl00$ContentPlaceHolder1$btnSearch" id="ContentPlaceHolder1_btnSearch" src="images/buttons/searchGo.gif">
      </div>
    </div>

  </div>
</div>
